.container {
  display: block;
  margin: 0;
  padding: 10px 5%;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

img {
  width: 160px;
}

.nav-img {
  position: absolute;
}

.nav-btn {
  padding: 10px 40px;
  border: 1px solid cadetblue;
  border-radius: 25px;
  margin: 15px 10px;
  background: turquoise;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
}

.nav-btn:hover {
  background: white;
  color: turquoise;
  border: 1px solid turquoise;
  cursor: pointer;
}

.map {
  padding-top: 20px;
  width: 100%;
  height: 20%;
}

.dropdown {
  margin-top: 1rem !important
}

ul {
  padding: 0;
}

li {
  font-size: 20px;
  list-style: none;
}

li::before {
  content: "\2B1B";
  margin-right: 20px;
}

li.valid::before {
  color: green;
}

li.notvalid::before {
  color: red;
}

li.onprocess::before {
  color: yellow;
}

li.notprocess::before {
  color: grey;
}